 

p, ul {
    font-size: 16px;
}

section{
    padding-bottom: 2rem;
}

section h1{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    
    padding: 1.5rem 0;
}

.prepa-concours-background{
    padding: 1rem;

    background: url("../images/prepa-concours/fond-prepa-concours.jpg");
    background-position: center center;

}

@media (min-width: 40rem) { 
    .prepa-concours-background{
        padding: 4rem;
    }
}



/**
 * Header
 */

.navigation {
    /* override main.css styles */
    top: 0;
    padding-top: 1rem;

    background: rgba(255, 255, 255, 0.89);

    position: static; /* override main.css */
}


.navigation .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation .title-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;

    padding-top: 1rem;
}

.navigation .title-block a.navbar-brand{
    padding: 0;
    padding-right: 1rem;
}

/* override main.css styles */
.navigation .block{
    background: inherit;
}

/**
 * Intro
 */



#intro, #programme-tarif, #engagement-mutuel{
    display: flex;
    flex-direction: column;

    background-color: rgba(214, 174, 95, 0.9);
    max-width: 70rem;
    padding: 2rem;
    margin: 0 auto;
}

#intro, #programme-tarif{
    margin-bottom: 15rem;
}



#intro .author{
    align-self: flex-end;
    text-align: right;

    width: 100%;
    height: 10rem;
    margin-top: 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    font-weight: bold;
    font-size: 0.9em;
}

@media (min-width: 40rem) { 
    #intro .author{
        width: 50%;

    }
}

#intro .author span{
    align-self: self-end;
}

#intro .author img{
    max-height: 100%;
    max-width: 7rem;
    object-fit: cover;
}

#intro .author span{
    margin-right: 1rem;
}



/**
 * Programme Tarif
 */

#programme-tarif{


}

#programme-tarif > p{
    margin-bottom: 2rem;
}

#programme-tarif > ul{
    margin-left: 2rem;
}

#programme-tarif > ul li{
    margin-bottom: 1rem;
}
#programme-tarif > ul strong{
    display: block;
}


/**
 * engagement-mutuel
 */

.engagement-mutuel{
    background-color: white;
    border: 1px solid #111;
    
    font-family: monospace;

    padding: 2rem;

    box-shadow: inset 1rem 1rem 2rem #aaa;

    max-height: 50vh;
    overflow: scroll;
}



.engagement-mutuel p{
    margin-bottom: 1em;
    font-family: inherit;
    font-size: inherit;
}