<footer id="footer">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="block wow fadeInLeft" data-wow-delay="200ms">
						<h3>CONTACT</h3>
						<div class="info">
							<ul>
								{{ range $.Site.Params.footer.contactItem }}
								<li>
									<h4><i class="{{.icon}}"></i>{{ .title }}</h4>
									<p>{{ .content | markdownify }}</p>
								</li>
								{{end}}
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="block wow fadeInLeft" data-wow-delay="1100ms">
						<div class="social-media-link">
							<h3>NOTRE TERRITOIRE NUMÉRIQUE</h3>
							<ul class="social-media">
								<li><a href="https://www.facebook.com/groups/386241745191819/"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.instagram.com/anneluciedumay/?hl=en"><i class="fa fa-instagram"></i></a></li>	
								<li><a href="https://vimeo.com/user98228649"><i class="fa fa-vimeo-square"></i></a></li>	
								<li><a href="https://github.com/les-ethers-fertiles/association-tedua.fr"><i class="fa fa-github"></i></a></li>	
							</ul>
							<ul class="list-link">
								<li><a href="https://blog.association-tedua.fr/">Notre blog</a>
								<li><a href="https://www.leclownetlafee.fr/accueil/">Le clown et la fée</a>
								<li><a href="https://www.zorozorai.land/">Z0R0 Z0RAÏ</a>
								<li><a href="https://chateau.association-tedua.fr/">Le projet château</a>
								<li><a href="https://les-ethers-fertiles.github.io/jonathandupui/">Les cahiers de textes</a>

									
							</ul>
						</div>
					</div>
				</div>

			</div><!-- .row close -->
		</div><!-- .containe close -->
	</section><!-- #footer close -->
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

