{{ if .Site.Data.homepage.gallery.enable }}
{{ with .Site.Data.homepage.gallery }}
<section id="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
					<div class="gallery-slider">
						<a href="#price"><img class="img-responsive" src="/images/slider1/rentree.jpg" alt=""></a>
						<a href="#subscribe3"><img class="img-responsive" src="/images/slider1/clownetfee.jpg" alt=""></a>
						<a href="https://blog.association-tedua.fr" target="_blank"><img class="img-responsive" src="/images/slider1/blog.jpg" alt=""></a>
					</div>
				</div>

			</div><!-- .col-md-12 close -->
		</div><!-- .row close -->
	</div><!-- .container close -->
</section>

{{end}}
{{end}}
