{{ define "main" }}


{{ partial "hero-area.html" . }} <!--bannière-->

{{- partial "header.html" . -}} <!--menus de navigation-->
 
{{ partial "gallery.html" . }} <!--3 blocs qui dispatchent vers rentrée/prépa concours/C&F/saison 2020-21-->

{{ partial "about.html" . }} <!--punchline saison 2021-22-->

{{ partial "subscription.html" . }} <!--mythologie: photo montage Zoro+Aliam avec encadrés des 5 couleurs-->

{{ partial "gallery2.html" . }} <!--galerie photos - rétrospective saison 2020-21-->

{{ partial "food-menu.html" . }} <!--école (avec nouveauté "concours prepa")-->

{{ partial "blog.html" . }} <!--journal de bord-->

{{ partial "subscription2.html" . }} <!--spectacles-->

{{ partial "gallery3.html" . }} <!--galerie photos - rétrospective saison 2019-20-->

{{ partial "subscription3.html" . }} <!--le clown et la fée, 10 déc-->

{{ partial "gallery4.html" . }} <!--galerie photos - rétrospective saison 2019-20-->

{{ partial "subscription4.html" . }} <!--le chateau-->


{{ end }}
