<section id="contrat-moral">
    <div class="title">
        <h1 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">Contrat moral</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block contrat-moral">
                    Bonjour,

                    Nous, on pense que jouer, c'est surtout écouter

                    et aussi, on attend de vous que vous vous engagiez, voili !

                    La bise !
                </div>

                <style>
                    #contrat-moral{
                        background-color: antiquewhite;
                    }

                    .contrat-moral{
                        background-color: white;
                        border: 1px solid #111;
                        font-family: monospace;

                        padding: 2rem 10rem;

                        white-space: pre;

                    }

                </style>
            </div>
        </div>
    </div>
</section>