<section id="contrat-moral">
    <div class="title">
        <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">Contrat moral</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">{{ .title |
                        markdownify }}
                    </h1><br><br><br>
                    <div class="gallery-slider">
                        <a href="https://leclownetlafee.fr" target="_blank"><img class="img-responsive"
                                src="/images/slider4/1.jpg" alt=""></a>
                        <a href="https://www.zorozorai.land" target="_blank"><img class="img-responsive"
                                src="/images/slider4/2.jpg" alt=""></a>
                        <a href="https://vimeo.com/388689659" target="_blank"><img class="img-responsive"
                                src="/images/slider4/3.jpg" alt=""></a>

                    </div>

                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">Pour plus d'informations
                        sur les créations et les spectacles, contacter Habib Belaribi sur diffusion@association-tedua.fr
                        ou au 07 82 43 20 68.</p>
                    <br><br>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #subscribe close -->