<section id="engagement-mutuel">
    
    <h1 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
        Engagement mutuel
    </h1>
    
    <div class="texte">
        {{ readFile "engagement-mutuel.md" | markdownify }}
    </div>

    <ul class="profs">
        <li>
            <img src="{{ "images/prepa-concours/jo.jpg" | relURL }}">
            <span>Jonathan Dupui</span>
        </li>
        <li>
            <img src="{{ "images/prepa-concours/julie.jpg" | relURL }}">
            <span>Julie Hercberg</span>
        </li>
        <li>
            <img src="{{ "images/prepa-concours/simon.jpg" | relURL }}">
            <span>Simon Delgrange</span>
        </li>
    </ul>

</section>