{{ "<!-- Navigation Start  -->" | safeHTML }}

<nav class="navigation">
	<div class="container">
		<div class="block">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div style="float: left">
						<a class="navbar-brand" href="{{ .Site.BaseURL }}">
							<img class="img-responsive" src="{{ .Site.Params.logoprepaconcours | absURL }}"
								alt="{{ .Site.Title }}">
						</a>
						<div style="font-size:1.6rem;"> Formation à la préparation aux concours d'entrée <br>dans les Ecoles nationales
							et régionales<br> d'Art Dramatique.
						</div>
						<!-- petit br des familles en attendant ;-p-->
						<br>
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right" id="top-nav">
								<li><a href="#accueil">Accueil</a></li>
								<li><a href="#programme-tarif">Programme et Tarif</a></li>
								<li><a href="#contrat-moral">Le contrat</a></li>
								<li><a href="#témoignages">Témoignages</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>
			</nav>
		</div>
	</div><!-- .container close -->
</nav><!-- header close -->