<section id="inscription">
    
    <h1 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
        Inscription
    </h1>

    <p>
    <a href="https://www.helloasso.com/associations/tedua/evenements/inscription-a-la-formation-a-la-preparation-au-concours-2022-2023">Pour s'inscrire, ça se passe via HelloAsso</a>
    </p>
        
    <p>Pour toute question notamment sur le déroulement, le tarif, les facilités de paiement, 
    contacter Anne-Lucie Dumay (Directrice de Tedua) par téléphone <a href="tel:06 15 60 97 04">06 15 60 97 04</a>
    ou par email <a href="mailto:diffusion@association-tedua.fr">diffusion@association-tedua.fr</a>
</section>
