<section id="intro">

    <h1 class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
        Saison 2022/2023&nbsp;: reconnaître l'intime
    </h1>

    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
        Ce programme de préparation aux concours d'entrée aux Ecoles d'Art Dramatique est d'abord le fruit des retrouvailles de deux amis vicéralement passionnés de théâtre : Simon Delgrange et Jonathan Dupui, les deux encadrants de la première promo (saison 2021-2022)................................................................
    
    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
        Ce programme de préparation aux concours d'entrée aux Ecoles d'Art Dramatique est d'abord le fruit des retrouvailles de deux amis vicéralement passionnés de théâtre : Simon Delgrange et Jonathan Dupui, les deux encadrants de la première promo (saison 2021-2022)................................................................
    
    <div class="author wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
        <span>
            Anne-Lucie Dumay<br>
            Directrice de l'école<br>
            et fondatrice de l'association Tedua
        </span>
        <img src="{{ "images/prepa-concours/anne-lu-belle-gosse.jpg" | relURL }}">
    </div>

</section>