<section id="intro">

    <h1 class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
        Saison 2022/2023&nbsp;: reconnaître l'intime
    </h1>

    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
        « Il y a cinq ans, je transformais une association de recherche anthropologique en association culturelle, avec l’élan suivant : créer des espaces de rencontre pour travailler à plusieurs autour d’un sujet artistique. Toujours le même. L’autre.

        
    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
        &nbsp;&nbsp;&nbsp;En ce sens, la formation de Tedua à la préparation aux concours est d’abord l’espace d’accueil de trois passionné.e.s d’Art Dramatique. Je les sais prêts à se mettre au service de celles et ceux qui se reconnaissent, comme eux, dans l’amour du jeu :
Jonathan Dupui, en invitant à venir rencontrer sa discipline du jeu, Simon Delgrange, en partageant son expérience face à la technicité toute particulière de l’exercice des concours face à un jury, Julie Hercberg, en indiquant comment instaurer dans son quotidien le geste fondamental de la disponibilité au jeu.

    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
	&nbsp;&nbsp;&nbsp;Je vous invite dans cet espace pour qu’à votre tour, vous partagiez cette expérience avec Julie, Simon et Jonathan : se soumettre à une discipline et exposer l’intime à un public. A vous d’accepter ce terrain de jeu.
	
    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
	&nbsp;&nbsp;&nbsp;Amicalement »
	
	
    <div class="author wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
        <span>
            Anne-Lucie Dumay<br>
            Directrice de l'école<br>
            et fondatrice de l'association Tedua
        </span>
        <img src="{{ "images/prepa-concours/anne-lu-belle-gosse.jpg" | relURL }}">
    </div>

</section>