<section id="programme-tarif">
	
	<h1 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
		Programme et tarif
	</h1>

	<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
		Pour la saison 2022-2023 :
		<ul class="wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 300ms; animation-name: fadeInUp;">
			<li>
			> le tarif est de 950€
			</li>
			<li>
			> La prépa est limitée à 8 comédien.ne.s
			</li>
			<li>
			> Le programme comprend&nbsp;:
				<ul class="wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 300ms; animation-name: fadeInUp;">
					<li>
					<strong>Travail de fond hebdomadaire</strong>
					<span>20 sessions de 4h30 (les mercredis après-midi, de septembre à avril)</span>
					</li>
			
					<li>
					<strong>Stages d'immersion</strong>
					<span>3 stages de 3 jours (vacances scolaires d'octobre, décembre, et février)</span>
					</li>		
				</ul>
		
			</li>
		</ul>
	</p>

	
	
</section>