<section id="programme-tarif">
	
	<h1 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
		Programme et tarif
	</h1>

	<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
		Pour la saison 2022-2023, le tarif est de <strong>950€</strong>. Le programme de cette saison comprend&nbsp;:
	</p>

	<ul class="wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 300ms; animation-name: fadeInUp;">
		<li>
			<strong>Travail de fond : hebdomadaire </strong>
			<span>20 sessions (septembre à avril)</span>
		</li>
		
		<li>
			<strong>Stages d'immersion</strong>
			<span>3 stages de 3 jours (vacances scolaires d'octobre, de décembre, et de février)</span>
		</li>		
	</ul>
	
</section>