{{ if .Site.Data.prepaconcours.pctarif.enable }}
{{ with .Site.Data.prepaconcours.pctarif }}
<section id="programme-tarif">
	
	<h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">{{ .subtitle | markdownify }}</h1>

	<ul>
		{{ range .pricing_item }}
		<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
			<div class="item">
				<div class="item-title">
					<h2>{{.title}}</h2>
					<div class="border-bottom"></div>
					<span>{{.price}}</span>
				</div>
				<p>{{.description}}</p>
			</div>
		</li>
		{{ end }}
	</ul>
	
</section>
{{end}}
{{end}}
