
<section id="témoignages">
	<h1>Témoignages des étudiants</h1>
	<ul>
		<li>
			<h2>Maëlle Garcia Kenoui</h2>
			<h3>1ère promotion 2021-2022</h3>
			<details>
				<summary>
					Mon expérience dans cette classe préparatoire a duré 6 mois. J'ai eu connaissance de celle-ci par instagram. J'étais dans une période floue, je ne savais pas bien si j'allais une fois de plus
				</summary>
				 passer les concours d'écoles nationales, mais je savais que si je le faisais il allait falloir plus d'organisation en amont et un cadre de vie plus rigoureux et régulier que précédemment.
				Au sein de la formation, j'ai trouvé ce dont j'avais besoin : d'un rendez-vous obligatoire de travail par semaine, d'un suivi régulier à la fois sur le développement des scènes mais aussi sur leur choix (lecture de scènes, mise en place d'une stratégie adaptée à mon profil), et d'un groupe de travail motivé.
				Les deux professeurs Jonathan et Simon, ont une approche différente et très complémentaire, ce qui m'a permis de traverser mes scènes avec deux regards différents, d'étudier deux types de propositions dans la recherche de jeu. Ils sont des professeurs réellement investis dans leur travail, exigeants et bienveillants. Ils ont de l'ambition pour leurs élèves et cela se ressent dans leur projet pédagogique.
				Leur suivi a été très personnel, ils m'ont aidé à prendre conscience de mes problématiques en tant que comédienne et j'en sors aujourd'hui avec une meilleure compréhension de mon métier.
				
				Les auditions cette année ont été radicalement différentes de celles que j'avais pu passer auparavant, notamment grâce au retravaille qu'on a pu faire suite aux retours des concours et à la préparation en amont (échauffement et objectifs précis des scènes) faite à la prépa. Je me suis sentie plus solide dans mes scènes et leur choix, plus disponible à l'audition et plus libre dans mes possibilités de jeu.
				
				L'exigence demandée dans la prépa et le travail fait à côté avec le groupe de la classe, a pour moi porté ses fruits : j'ai senti un changement dans mon rapport à ma pratique, un murissement et je rentre en école nationale. Dans mon regard sur les scènes, leur approche, je vois une amélioration au niveau du travail de compréhension des enjeux et cela je pense que c'est grâce au fait d'avoir travailler avec ces personnes mais aussi d'avoir pu assister à leurs interventions.
				Dans le contexte difficile qu'est celui du passage des concours d'écoles nationales, le suivi de cette classe m'a apporté un réconfort et une assiduité que je n'aurai pas pu avoir seule. C'est pourquoi je trouve important d'être accompagné d'un groupe pour cette étape de vie. Le groupe de travail formé fut pour moi un soutien psychologique fort et une source de détente et d'amusement, mais aussi un moteur de progression important.
				
				Je recommande vivement à toustes celleux qui veulent s'engager dans une année de concours dans les bonnes conditions de préparation, d'entrer dans cette classe préparatoire et de vivre cette riche expérience !
				
				Maëlle Garcia Kenoui.
			</details>
		</li>
		<li>
			<h2>Maëlle Garcia Kenoui</h2>
			<h3>1ère promotion 2021-2022</h3>
			<details>
				<summary>
					Mon expérience dans cette classe préparatoire a duré 6 mois. J'ai eu connaissance de celle-ci par instagram. J'étais dans une période floue, je ne savais pas bien si j'allais une fois de plus
				</summary>
				 passer les concours d'écoles nationales, mais je savais que si je le faisais il allait falloir plus d'organisation en amont et un cadre de vie plus rigoureux et régulier que précédemment.
				Au sein de la formation, j'ai trouvé ce dont j'avais besoin : d'un rendez-vous obligatoire de travail par semaine, d'un suivi régulier à la fois sur le développement des scènes mais aussi sur leur choix (lecture de scènes, mise en place d'une stratégie adaptée à mon profil), et d'un groupe de travail motivé.
				Les deux professeurs Jonathan et Simon, ont une approche différente et très complémentaire, ce qui m'a permis de traverser mes scènes avec deux regards différents, d'étudier deux types de propositions dans la recherche de jeu. Ils sont des professeurs réellement investis dans leur travail, exigeants et bienveillants. Ils ont de l'ambition pour leurs élèves et cela se ressent dans leur projet pédagogique.
				Leur suivi a été très personnel, ils m'ont aidé à prendre conscience de mes problématiques en tant que comédienne et j'en sors aujourd'hui avec une meilleure compréhension de mon métier.
				
				Les auditions cette année ont été radicalement différentes de celles que j'avais pu passer auparavant, notamment grâce au retravaille qu'on a pu faire suite aux retours des concours et à la préparation en amont (échauffement et objectifs précis des scènes) faite à la prépa. Je me suis sentie plus solide dans mes scènes et leur choix, plus disponible à l'audition et plus libre dans mes possibilités de jeu.
				
				L'exigence demandée dans la prépa et le travail fait à côté avec le groupe de la classe, a pour moi porté ses fruits : j'ai senti un changement dans mon rapport à ma pratique, un murissement et je rentre en école nationale. Dans mon regard sur les scènes, leur approche, je vois une amélioration au niveau du travail de compréhension des enjeux et cela je pense que c'est grâce au fait d'avoir travailler avec ces personnes mais aussi d'avoir pu assister à leurs interventions.
				Dans le contexte difficile qu'est celui du passage des concours d'écoles nationales, le suivi de cette classe m'a apporté un réconfort et une assiduité que je n'aurai pas pu avoir seule. C'est pourquoi je trouve important d'être accompagné d'un groupe pour cette étape de vie. Le groupe de travail formé fut pour moi un soutien psychologique fort et une source de détente et d'amusement, mais aussi un moteur de progression important.
				
				Je recommande vivement à toustes celleux qui veulent s'engager dans une année de concours dans les bonnes conditions de préparation, d'entrer dans cette classe préparatoire et de vivre cette riche expérience !
				
				Maëlle Garcia Kenoui.
			</details>
		</li>
		<li>
			<h2>Maëlle Garcia Kenoui</h2>
			<h3>1ère promotion 2021-2022</h3>
			<details>
				<summary>
					Mon expérience dans cette classe préparatoire a duré 6 mois. J'ai eu connaissance de celle-ci par instagram. J'étais dans une période floue, je ne savais pas bien si j'allais une fois de plus
				</summary>
				 passer les concours d'écoles nationales, mais je savais que si je le faisais il allait falloir plus d'organisation en amont et un cadre de vie plus rigoureux et régulier que précédemment.
				Au sein de la formation, j'ai trouvé ce dont j'avais besoin : d'un rendez-vous obligatoire de travail par semaine, d'un suivi régulier à la fois sur le développement des scènes mais aussi sur leur choix (lecture de scènes, mise en place d'une stratégie adaptée à mon profil), et d'un groupe de travail motivé.
				Les deux professeurs Jonathan et Simon, ont une approche différente et très complémentaire, ce qui m'a permis de traverser mes scènes avec deux regards différents, d'étudier deux types de propositions dans la recherche de jeu. Ils sont des professeurs réellement investis dans leur travail, exigeants et bienveillants. Ils ont de l'ambition pour leurs élèves et cela se ressent dans leur projet pédagogique.
				Leur suivi a été très personnel, ils m'ont aidé à prendre conscience de mes problématiques en tant que comédienne et j'en sors aujourd'hui avec une meilleure compréhension de mon métier.
				
				Les auditions cette année ont été radicalement différentes de celles que j'avais pu passer auparavant, notamment grâce au retravaille qu'on a pu faire suite aux retours des concours et à la préparation en amont (échauffement et objectifs précis des scènes) faite à la prépa. Je me suis sentie plus solide dans mes scènes et leur choix, plus disponible à l'audition et plus libre dans mes possibilités de jeu.
				
				L'exigence demandée dans la prépa et le travail fait à côté avec le groupe de la classe, a pour moi porté ses fruits : j'ai senti un changement dans mon rapport à ma pratique, un murissement et je rentre en école nationale. Dans mon regard sur les scènes, leur approche, je vois une amélioration au niveau du travail de compréhension des enjeux et cela je pense que c'est grâce au fait d'avoir travailler avec ces personnes mais aussi d'avoir pu assister à leurs interventions.
				Dans le contexte difficile qu'est celui du passage des concours d'écoles nationales, le suivi de cette classe m'a apporté un réconfort et une assiduité que je n'aurai pas pu avoir seule. C'est pourquoi je trouve important d'être accompagné d'un groupe pour cette étape de vie. Le groupe de travail formé fut pour moi un soutien psychologique fort et une source de détente et d'amusement, mais aussi un moteur de progression important.
				
				Je recommande vivement à toustes celleux qui veulent s'engager dans une année de concours dans les bonnes conditions de préparation, d'entrer dans cette classe préparatoire et de vivre cette riche expérience !
				
				Maëlle Garcia Kenoui.
			</details>
		</li>

	</ul>


</section>
